$color-primary: steelblue;
$color-secondary: lightsteelblue;

$color-light: #f8f8f8;
$color-light-border: #c3c5c6;

$color-dark: #777777;
$color-dark-border: #636363;

$color-active: white;
$color-active-background: $color-primary;

$color-inactive: lightgrey;
$color-inactive-background: white;