@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700|PT+Serif:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700|PT+Serif:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700|PT+Serif:400,400i,700");
.bordered-bottom, .dashboard .header, .dashboard .sidebar-small .square-button {
  border-bottom: 1px solid #c3c5c6; }

.bordered-right, .dashboard .sidebar, .dashboard .sidebar-small, .dashboard .sidebar-big {
  border-right: 1px solid #c3c5c6; }

.button, .dashboard .sidebar-small .square-button {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 8px;
  padding: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .button.bordered, .dashboard .sidebar-small .bordered.square-button {
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid darkgray; }
    .button.bordered:hover, .dashboard .sidebar-small .bordered.square-button:hover {
      background-color: #e7e7e7; }
  .button.active, .dashboard .sidebar-small .active.square-button {
    background-color: steelblue;
    color: white; }
  .button.inactive, .dashboard .sidebar-small .inactive.square-button {
    cursor: auto;
    background-color: white;
    color: lightgrey;
    pointer-events: none; }

.message {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 4px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  text-align: center; }

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font: 100% "Noto Sans", sans-serif; }

canvas {
  width: 100%;
  height: 100%; }

.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .dashboard .header {
    flex: 1 0 auto;
    display: flex;
    align-items: baseline;
    min-height: 20px;
    background-color: #f8f8f8; }
    .dashboard .header > .left {
      display: flex;
      align-items: baseline;
      flex: 1 0 auto; }
    .dashboard .header > .right {
      display: flex;
      align-items: baseline; }
    .dashboard .header .title {
      color: #777777;
      font-size: 18px;
      font-weight: 800;
      padding: 5px 10px; }
      .dashboard .header .title:hover {
        color: steelblue; }
    .dashboard .header .links {
      font-size: 14px; }
  .dashboard .main {
    height: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch; }
  .dashboard .sidebar, .dashboard .sidebar-small, .dashboard .sidebar-big {
    height: 100%;
    display: flex;
    flex-direction: column; }
  .dashboard .sidebar-small {
    min-width: 40px;
    background-color: #e7e7e7; }
    .dashboard .sidebar-small .square-button {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 40px;
      color: #777777; }
      .dashboard .sidebar-small .square-button > .fa {
        line-height: 1em;
        vertical-align: middle; }
      .dashboard .sidebar-small .square-button:hover {
        background-color: #f8f8f8;
        color: steelblue; }
  .dashboard .sidebar-big {
    min-width: 320px;
    max-width: 320px;
    background-color: #f8f8f8; }
    .dashboard .sidebar-big .item {
      display: flex;
      flex-direction: column;
      padding: 4px; }
      .dashboard .sidebar-big .item .two-col {
        flex: 1 0 auto;
        padding: 4px 0 4px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .dashboard .sidebar-big .item .two-col .left {
          font-size: 14px;
          padding: 0 8px 0 8px; }
        .dashboard .sidebar-big .item .two-col .right {
          font-size: 14px;
          text-align: right;
          padding: 0 8px 0 8px; }
      .dashboard .sidebar-big .item .clickable:hover {
        cursor: pointer; }
    .dashboard .sidebar-big .header {
      font-size: 14px;
      font-weight: bold;
      border-bottom: 2px solid lightgray;
      padding: 8px 6px 8px 6px; }

/*# sourceMappingURL=index.css.map */
