@import "fonts";
@import "colors";
@import "borders";
@import "button";
@import "messages";

html, body {

  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  font: 100% $font-sans;

}

canvas {

  width: 100%;
  height: 100%;

}

.dashboard {

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .header {

    @extend .bordered-bottom;

    flex: 1 0 auto;

    display: flex;
    align-items: baseline;
    min-height: 20px;

    background-color: $color-light;

    > .left {

      display: flex;
      align-items: baseline;
      flex: 1 0 auto;

    }

    > .right {

      display: flex;
      align-items: baseline;

    }

    .title {

      color: $color-dark;
      font-size: 18px;
      font-weight: 800;
      padding: 5px 10px;

      &:hover { color: $color-primary }

    }

    .links {

      font-size: 14px;

    }

  }

  .main {

    height: 100%;

    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;

  }

  .sidebar {

    @extend .bordered-right;

    height: 100%;
    display: flex;
    flex-direction: column;

  }

  .sidebar-small {

    @extend .sidebar;
    min-width: 40px;
    background-color: #e7e7e7;

    .square-button {
      @extend .button;
      @extend .bordered-bottom;

      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 40px;
      color: $color-dark;

      > .fa {
        line-height: 1em;
        vertical-align: middle;
      }

      &:hover {
        background-color: $color-light;
        color: $color-primary;
      }

    }

  }

  .sidebar-big {

    @extend .sidebar;
    min-width: 320px;
    max-width: 320px;
    background-color: #f8f8f8;

    .item {

      display: flex;
      flex-direction: column;
      padding: 4px;

      .two-col {

        flex: 1 0 auto;
        padding: 4px 0 4px 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .left {

          font-size: 14px;
          padding: 0 8px 0 8px;

        }

        .right {

          font-size: 14px;
          text-align: right;
          padding: 0 8px 0 8px;

        }

      }

      .clickable {

        &:hover {
          cursor: pointer;
        }

      }

    }

    .header {

      font-size: 14px;
      font-weight: bold;
      border-bottom: 2px solid lightgray;
      padding: 8px 6px 8px 6px;

    }



  }

}